/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:0 0 5px black;
    border-radius: 6px;
    background-color: #45a049;

}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #a3af4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow:0 0 5px black;
}

/* Hover effects for the button */
button:hover {
    background-color: #45a049;
}

button:active {
    transform: scale(0.95);
}
